/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(34, 34, 34);
}

#extension-wrapper{
    width: 700px;
    height: 500px;
    background-color: white;
}